<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GFXSYS - GMaster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>

<div class="container">
    <aside class="sidebar">
        <<h2>GFXSYS - GMaster</h2>
        <input type="file" id="fileInput" accept=".txt, .csv, .xlsx, .xml, .zip" style="display: none;" onchange="uploadFile()" />
        <button class="btn-upload" onclick="document.getElementById('fileInput').click()"><i class="fas fa-file"></i> Carregar Arquivo
        </button>
        <button class="btn-database" onclick="abrirBancoDeDados()"><i class="fas fa-database"></i> Carregar Banco de Dados</button>
        <ul>
            <li onclick="transpor()"><i class="fas fa-exchange-alt"></i> Transpor</li>
            <li onclick="inverterLinhas()"><i class="fas fa-sort-amount-down-alt"></i> Inverter Linhas</li>
            <li onclick="detectarTipoDados()"><i class="fas fa-search"></i> Detectar Tipo de Dados</li>
            <li onclick="toggleModal('renameColumnModal')"><i class="fas fa-edit"></i> Renomear Colunas</li>
            <li onclick="toggleModal('formula_container')"><i class="fas fa-edit"></i> Criar Coluna Calculada</li>
            <li onclick="toggleModal('replaceValueModal')"><i class="fas fa-exchange-alt"></i> Substituir Valores</li>
            <li onclick="preencherValores()"><i class="fas fa-fill-drip"></i> Preencher Valores</li>
            <li onclick="colunaDinamica()"><i class="fas fa-plus-circle"></i> Coluna Dinâmica</li>
            <li onclick="converterEmLista()"><i class="fas fa-list"></i> Converter em Lista</li>
            <li onclick="dividirColuna()"><i class="fas fa-columns"></i> Dividir Coluna</li>
            <li onclick="formatarColuna()"><i class="fas fa-text-width"></i> Formatar</li>
            <li onclick="extrairColuna()"><i class="fas fa-filter"></i> Extrair</li>
            <li onclick="estatisticas()"><i class="fas fa-chart-bar"></i> Estatísticas</li>
            <li onclick="cleanData()"><i class="fas fa-broom"></i> Limpar Dados</li> <!-- Novo item -->
        </ul>

        <div class="sidebar-section" id="formula_container" style="display: none;">
            <h3>Criar Nova Coluna</h3>
            <label for="formulaInput">Fórmula:</label>
            <input type="text" id="formulaInput" placeholder="Ex: coluna1 + coluna2 * 2">
            <label for="newColumnName">Nome da Nova Coluna:</label>
            <input type="text" id="newColumnName" placeholder="Nome da nova coluna">
            <div class="button-group">
                <button class="btn-action" onclick="calcularNovaColuna()">Criar</button>
                <button class="btn-cancel" onclick="closeFormulaModal()">Cancelar</button>
            </div>
        </div>
        
        <div class="sidebar-section" id="renameColumnModal" style="display: none;">
            <h3>Renomear Coluna</h3>
            <label for="colunaAtual">Nome Atual:</label>
            <input type="text" id="colunaAtual" placeholder="Nome Atual">
            <label for="novaColuna">Novo Nome:</label>
            <input type="text" id="novaColuna" placeholder="Novo Nome">
            <div class="button-group">
                <button class="btn-action" onclick="submitRenameColumn()">Renomear</button>
                <button class="btn-cancel" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
        
        <div class="sidebar-section" id="replaceValueModal" style="display: none;">
            <h3>Substituir Valores</h3>
            <label for="columnName">Coluna:</label>
            <input type="text" id="columnName" placeholder="Nome da coluna">
            <label for="currentValue">Valor Atual:</label>
            <input type="text" id="currentValue" placeholder="Valor atual">
            <label for="newValue">Novo Valor:</label>
            <input type="text" id="newValue" placeholder="Novo valor">
            <div class="button-group">
                <button class="btn-action" onclick="trocarValor()">Substituir</button>
                <button class="btn-cancel" onclick="closeReplaceValueModal()">Cancelar</button>
            </div>
        </div>
        
        
    </aside>

    <div id="databaseModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h3>Carregar Banco de Dados</h3>
            <label for="dbType">Tipo de Banco:</label>
            <select id="dbType" class="input-field">
                <option value="postgres">PostgreSQL</option>
                <option value="sqlite">SQLite</option>
                <option value="mysql">MySQL</option>
            </select>
            <br>
            <label for="dbTable">Tabela:</label>
            <input type="text" id="dbTable" class="input-field" placeholder="Digite o nome da tabela">
            <br>
            <div class="modal-buttons">
                <button onclick="carregarBancoDeDados()" class="btn">Conectar e Carregar</button>
                <button onclick="closeDatabaseModal()" class="btn cancel-btn">Cancelar</button>
            </div>
        </div>
    </div>

    <main class="content">
        <h1>Visualização de Dados</h1>
        <div id="table-container">
            <table id="data-table" class="display"></table>
        </div>
        <div id="historyContainer" class="history">
            <h3>Histórico de Transformações</h3>
            <ul id="historyList"></ul>
            <button onclick="undoLastOperation()">Desfazer Última Operação</button>
        </div>

    </main>
</div>



<script>

    function toggleModal(modalId) {
        // Fecha todos os modais
        document.querySelectorAll('.sidebar-section').forEach(modal => {
            modal.style.display = 'none';
        });
    
        // Abre o modal especificado
        const modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = 'block';
        }
    }

    function openSection(sectionId) {
        document.querySelectorAll('.sidebar-section').forEach(section => {
            section.style.display = 'none';
        });
        document.getElementById(sectionId).style.display = 'block';
    }
    
    function closeSection(sectionId) {
        document.getElementById(sectionId).style.display = 'none';
    }
    
    // Função para exibir o modal de fórmula
    function criarColunaCalculada() {
        document.getElementById('formula_container').style.display = 'block';
    }

    // Função para fechar o modal de fórmula
    function closeFormulaModal() {
        document.getElementById('formula_container').style.display = 'none';
    }


    function renomearColunas() {
        // Exibe o modal para renomear colunas
        document.getElementById('renameColumnModal').style.display = 'block';
    }

    function closeModal() {
        // Fecha o modal
        document.getElementById('renameColumnModal').style.display = 'none';
    }

    function substituirValores() {
        document.getElementById('replaceValueModal').style.display = 'block';
    }

    // Função para fechar o modal de substituir valores
    function closeReplaceValueModal() {
        document.getElementById('replaceValueModal').style.display = 'none';
    }
    function abrirBancoDeDados() {
        document.getElementById('databaseModal').style.display = 'block';
    }

    function closeDatabaseModal() {
        document.getElementById('databaseModal').style.display = 'none';
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
